@media(max-width:767px){
  .personal-information .form-info{
    width: 85vw;
  }
  .personal-information .form-info .left {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .personal-information .form-info .right {
    border-top-right-radius: 1rem;
  }
}